@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-gradient{
  background: rgb(61,131,73);
  background: linear-gradient(142deg, rgba(61,131,73,1) 0%, rgba(3,0,108,1) 100%);
}